
:root {

    --accent-color: #FFF3C3;
    --white-75: rgba(255, 255, 255, 0.75);
    --foreground: #FFFFFF;
    --gray: #666666;
    --section-bg: #1D1D1D;
    --black: #000000;
    

    --primary-gradient: linear-gradient(134deg, #000000 0%, #666666 100%);
    

    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Oswald', sans-serif;
}

header {
    background-image: url(../assets/noise-bg.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background: var(--primary-gradient);
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2.5rem;
    position: relative;
}

.line {
    display: block;
    height: 4px;
    width: 60%;
    background-color: var(--foreground);
    border-radius: 8px;
}

.menu {
    height: 70px;
    width: 70px;
    background: var(--gray);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.time {
    color: white;
    font-family: var(--font-primary);
}

.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    position: absolute;
    background-color: var(--black);
    color: var(--foreground);
    font-family: var(--font-primary);
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    font-weight: 600;
    font-size: 2.5rem;
    transform: translateX(100%);
    transition: transform .3s ease;
}

.menu-links.active {
    transform: translateX(0);
}

.menu-links ul{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items:center;
    justify-content: space-between;
}

.menu-links ul a {
    position: relative;
    padding-bottom: 1rem;
}

.menu-links ul a::before {
    content: '';
    width: 0;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--accent-color);
    position: absolute;
    transition: width .25s ease-out;
    
}


.menu-links ul a:hover::before {
  width: 100%;
  left: 0;
  right: auto;
} 


.close-btn {
    position: absolute;
    top: 3.5rem;
    right: 4.8rem;
    background: none;
    color: var(--foreground);
    font-size: 2rem;
    cursor: pointer;
    transition: color .3s ease;
}

.close-btn:hover {
    color: var(--accent-color);
}


@media (max-width: 768px) {
    
    .container {
        padding-inline: 1.5rem ;
    }

     .navbar-container {
        padding-block: 1.5rem; /* Smaller navbar height */
    }
    .menu {
        height: 50px; /* Smaller hamburger */
        width: 50px;
    }
    

    .menu-links {
        width: 100%;
        align-items: center;
        text-align: center;
        font-size: 1.8rem;
    }

    

    .time {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .menu-links {
        width: 100%;
    }
}
